.events_comp >  h1{
    text-align: center;
    padding-top: 3.3rem;
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-style: italic;
}
.events_head{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    font-style: italic;
    color: #1f83bd;
}
.images{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.row{
    display: flex;
}
.col-1{
    width: 25vw;
    height: 50vh;
    padding: 12px;
    filter: brightness(70%);
}
.col-3{
    width: 25vw;
    height: 50vh;
    padding: 12px;
    filter: brightness(70%);
}
.col-2{
    width: 40vw;
    height: 50vh;
    padding: 12px;
    filter: brightness(90%);
}
.col-1 img{
    width: 25vw;
    height: 50vh;
    padding: 12px;
}
.col-3 img{
    width: 25vw;
    height: 50vh;
    padding: 12px;
}
.col-2 img{
    width: 40vw;
    height: 50vh;
    padding: 12px;
}
.event_video{
    /* margin-top: -10rem; */
    padding: 12px;
    width: 25vw;
    height: 90vh;
}

.col-1 , .col-3 , .col-2{
    position: relative;
}
.col-1 img , .col-3 img , .col-2 img{
    filter: brightness(90%);
    filter: drop-shadow(40%);
    display: block;
    z-index: 1;
}
.col-1 .hover_content , .col-3 .hover_content , .col-2 .hover_content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    transition: .2s ease;
}
.col-1 .event_img , .col-3 .event_img , .col-2 .event_img {
    transition: all 0.2s ease-in-out;
}
.col-1:hover .hover_content ,  .col-3:hover .hover_content , .col-2:hover .hover_content{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
.col-1:hover .event_img , .col-3:hover .event_img , .col-2:hover .event_img {
    filter: brightness(40%);
}
.hover_content h1{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}
.hover_content p{
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}